---
title: Services
---

<div class="flex flex-col items-center bg-slate-100">
  <h1 class="m-12 text-6xl font-semibold">Facial</h1>
  <!-- Regular Mask Treatment Section -->
  <h2 class="m-10 text-5xl lg:m-5">Casmara Exclusive Masks</h2>
  {% for mask in site.data.facial %}
    <div class="flex flex-row items-center justify-between w-4/6 m-2 text-4xl lg:text-xl lg:w-3/6">
      <div class="lg:flex">
        <div class="font-semibold">{{ mask.name }}</div>
        <div class="lg:ml-32">{{ mask.property }}</div>
      </div>
      <div class="">{{ mask.price }}</div>
    </div>
  {% endfor %}
  <!-- Special Mask Treatment Section -->
  <h2 class="m-10 text-5xl lg:m-5">Delux Treatment</h2>
  {% for mask in site.data.facial-special %}
    <div class="flex flex-row items-center justify-between w-4/6 m-2 text-4xl lg:text-xl lg:w-3/6">
      <div class="lg:flex">
        <div class="font-semibold">{{ mask.name }}</div>
        <div class="lg:ml-32">{{ mask.property }}</div>
      </div>
      <div class="">{{ mask.price }}</div>
    </div>
  {% endfor %}
  <div class="flex">
    <div class="flex items-center justify-center mx-4 my-10 gap-x-6">
      <a href="#contactus" class="p-6 text-4xl font-semibold text-white bg-red-500 rounded-lg lg:text-2xl hover:bg-red-400 lg:p-4 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Consult us</a>
    </div>
  </div>
</div>


<!-- Massage -->
<div class="flex flex-col items-center">
  <h1 class="m-12 text-6xl font-semibold">Massage</h1>
  <h2 class="m-10 text-5xl lg:m-5">TCM methods</h2>
  {% for mask in site.data.massage %}
    <blue class="flex flex-col items-center justify-between w-1/2 m-2 text-4xl lg:text-xl lg:flex lg:flex-row">
      <a href="" class="font-semibold">{{ mask.name }}</a>
      <div class="">{{ mask.property }}</div>
      <div class="">{{ mask.price }}</div>
    </blue>
  {% endfor %}
  <div class="flex">
    <div class="flex items-center justify-center mx-4 my-10 gap-x-6">
      <a href="#contactus" class="p-6 text-4xl font-semibold text-white bg-red-500 rounded-lg lg:text-2xl hover:bg-red-400 lg:p-4 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Consult us</a>
    </div>
  </div>
</div>


<!-- Mechanical Therapy -->
<div class="flex flex-col items-center bg-slate-100">
  <h1 class="m-12 text-6xl font-semibold">Mechanical Therapy</h1>
  <!-- Aurora -->
  <h2 class="m-10 text-5xl lg:m-5">Aurora</h2>
  {% for mask in site.data.machine-aurora %}
    <div class="flex flex-row items-center justify-between w-4/6 m-2 text-4xl lg:text-xl lg:w-2/6">

      <a href="" class="font-semibold">{{ mask.name }}</a>
      <div class="">{{ mask.property }}</div>
      <div class="">{{ mask.price }}</div>
    </div>
  {% endfor %}
  <!-- Indiba -->
  <h2 class="m-10 text-5xl lg:m-5">Indiba</h2>
  {% for mask in site.data.machine-indiba %}
    <div class="flex flex-row items-center justify-between w-4/6 m-2 text-4xl lg:text-xl lg:w-2/6">
      <a href="" class="font-semibold">{{ mask.name }}</a>
      <div class="">{{ mask.property }}</div>
      <div class="">{{ mask.price }}</div>
    </div>
  {% endfor %}
  <!-- Sauna -->
  <h2 class="m-10 text-5xl lg:m-5">Sauna</h2>
  {% for mask in site.data.sauna %}
    <div class="flex flex-row items-center justify-between w-4/6 m-2 text-4xl lg:text-xl lg:w-2/6">
      <a href="" class="font-semibold">{{ mask.name }}</a>
      <div class="">{{ mask.property }}</div>
      <div class="">{{ mask.price }}</div>
    </div>
  {% endfor %}
  <div class="flex">
    <div class="flex items-center justify-center mx-4 my-10 gap-x-6">
      <a href="#contactus" class="p-6 text-4xl font-semibold text-white bg-red-500 rounded-lg lg:text-2xl hover:bg-red-400 lg:p-4 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Consult us</a>
    </div>
  </div>
</div>


<!-- Contact Section -->
<section id="contactus" class="flex flex-col justify-center py-12 h-96">
  <div class="max-w-4xl mx-auto text-center">
      <h2 class="mb-10 text-6xl font-semibold ">Contact Us</h2>
      <p class="mb-8 text-4xl text-gray-600 lg:text-xl">We only take appointments through phone calls: +65 6763 4281</p>
      <a href="tel:+6567634281" class="inline-block px-6 py-2 text-4xl text-white bg-red-600 rounded-lg hover:bg-red-500">Call now</a>
  </div>
</section>


<!-- <ul>
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul> -->