<div class="text-white bg-gray-900 py-36 lg:py-20">
    <div class="container flex flex-col items-center justify-between mx-auto text-3xl lg:flex-row lg:text-lg lg:items-start">
        <div class="mb-6 text-center lg:text-left lg:mb-0 lg:w-1/3">
            <h4 class="mb-4 text-6xl font-semibold lg:text-xl">Contact Us</h4>
            <p class="m-2 font-extralight">Email:<br class="lg:hidden"> <a href="mailto:prettyfacebeautysalon.sg@gmail.com">prettyfacebeautysalon.sg@gmail.com</a></p>
            <p class="m-2 font-extralight">Phone:<br class="lg:hidden"> +65 6763 4281</p>
            <p class="m-2 font-extralight">Address:<br class="lg:hidden"> 258 Bukit Panjang Ring Rd<br>level 2, #01-64<br>s(670258)</p>
        </div>
        
        <div class="mb-6 text-center lg:text-left lg:mb-0 lg:w-1/3">
            <h4 class="mb-4 text-6xl font-semibold lg:text-xl">Quick Links</h4>
            <ul class="space-y-2 lg:text-lg">
                <li><a href="#" class=" font-extralight">Home</a></li>
                <li><a href="#" class=" font-extralight">Services</a></li>
                <li><a href="#" class=" font-extralight">About Us</a></li>
                <li><a href="#" class=" font-extralight">Contact</a></li>
            </ul>
            </div>
            
        <div class="mb-6 text-center lg:text-left lg:mb-0 lg:w-1/3">
            <h4 class="mb-4 text-6xl font-semibold lg:text-xl">Follow Us</h4>
            <div class="flex justify-center space-x-4 lg:justify-start">
                <a href="#" class="text-white hover:text-gray-400">
                    <!-- Facebook -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                    class="w-10 h-10 lg:w-5 lg:h-5"
                    fill="currentColor"
                    viewBox="0 0 24 24">
                        <path
                        d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
                    </svg>
                </a>
                <a href="#" class="text-white hover:text-gray-400">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="text-white hover:text-gray-400">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-8 text-2xl text-center lg:text-sm">
        <p>&copy; 2023 Pretty Face Beauty Salon. All rights reserved.</p>
    </div>
</div>
  