<header>
  <nav class="flex items-center justify-between lg:px-8" aria-label="Global">
    <!-- Logo -->
    <div class="flex lg:flex-1">
      <a href="/" class="m-8 lg:m-0 p-1.5">
        <span class="sr-only">Pretty Face Beauty Salon</span>
        <img class="h-20 m-3 lg:h-10" src="../assets/photos/logos/transparent-logo.svg" alt="">
      </a>
    </div>
    <!-- Menu icon -->
    <div class="flex mx-5 lg:hidden">
      <div type="button" class="m-4 inline-flex items-center justify-center p-2.5" id="mobileDefaultButton">
        <span class="sr-only">Open main menu</span>
        <svg class="w-16 h-16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </div>
    </div>
    <!-- List of menu items -->
    <div class="hidden lg:flex lg:gap-x-12 lg:mx-8">
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" class="{% if page.url == item.link %} underline decoration-red-600 {% endif %} text-lg font-semibold leading-6 text-gray-900 hover:underline hover:decoration-red-600 hover:decoration-2 underline-offset-8">
          {{ item.name }}
        </a>
      {% endfor %}
    </div>
  </nav>
  
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="hidden lg:hidden animate-slideIn" role="dialog" aria-modal="true" id="mobileSideMenu">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div type="button" class="fixed inset-y-0 right-0 z-50 w-full px-6 py-6 overflow-y-auto bg-white sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="/" class="p-1.5">
          <img class="w-auto rounded-lg h-28" src="../assets/photos/logos/transparent-logo.svg" alt="">
        </a>
        <!-- Cross Button -->
        <div class="m-4 outline-none p-2.5" id="mobileSideMenuButton">
          <span class="sr-only">Close menu</span>
          <svg class="w-16 h-16" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
      </div>
      <div class="flow-root mt-6">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="py-6 m-8 space-y-2">
            {% for item in site.data.navigation %}
              <a href="{{ item.link }}" class="{% if page.url == item.link %} underline decoration-red-600 {% endif %} block px-3 py-14 -mx-3 text-5xl font-semibold leading-7 text-gray-900 rounded-lg hover:bg-gray-50 hover:underline hover:decoration-red-600 underline-offset-8">
                {{ item.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  const mobileSideMenuButton = document.getElementById('mobileSideMenuButton');
  const mobileDefaultButton = document.getElementById('mobileDefaultButton');
  const mobileSideMenu = document.getElementById('mobileSideMenu');
  
  mobileSideMenuButton.addEventListener('click', () => {
    mobileSideMenu.classList.toggle('hidden');
  });

  mobileDefaultButton.addEventListener('click', () => {
    mobileSideMenu.classList.toggle('hidden');
  });
</script>