<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="m-8 lg:m-0 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="w-auto h-20" src="../assets/photos/logos/transparent-logo.png" alt="">
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="m-4 inline-flex items-center justify-center rounded-lg p-2.5 text-gray-700" id="desktopMenuButton">
        <span class="sr-only">Open main menu</span>
        <svg class="w-16 h-16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" class="{% if page.url == item.link %} underline {% endif %} text-lg font-semibold leading-6 text-gray-900 hover:underline">
          {{ item.name }}
        </a>
      {% endfor %}
    </div>
  </nav>
  
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="hidden lg:hidden animate-slideIn" role="dialog" aria-modal="true" id="mobileMenu">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-y-0 right-0 z-50 w-full px-6 py-6 overflow-y-auto bg-white sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="m-8 p-1.5">
          <img class="w-auto h-20 rounded-lg outline" src="../assets/photos/logos/transparent-logo.png" alt="">
        </a>
        <button type="button" class="m-4 rounded-lg p-2.5 text-gray-700" id="mobileMenuButton">
          <span class="sr-only">Close menu</span>
          <svg class="w-16 h-16" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flow-root mt-6">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="py-6 m-8 space-y-2">
            {% for item in site.data.navigation %}
              <a href="{{ item.link }}" class="{% if page.url == item.link %} underline {% endif %} block px-3 py-14 -mx-3 text-5xl font-semibold leading-7 text-gray-900 rounded-lg hover:bg-gray-50 hover:underline">
                {{ item.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  const mobileMenuButton = document.getElementById('mobileMenuButton');
  const desktopMenuButton = document.getElementById('desktopMenuButton');
  const mobileMenu = document.getElementById('mobileMenu');
  
  mobileMenuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });

  desktopMenuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>